.app {
  text-align: center;
  height: 100vh;
}

.header__logo {
  height: 10vh;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .header__logo {
    animation: header__logo-spin infinite 20s linear;
  }
}

.app__header {
  background-color: var(--secondary_background_color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes header__logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app__body {
  color: white;
  display: flex;
  justify-content: center;
}

.body__search {
  width: 50vw;
}
