body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary_background_color: #41454d;
  --secondary_background_color: #282c34;
  --primary_color: #76b2fe;
  --secondary_color: #b69efe;

  background: radial-gradient(
    var(--primary_background_color),
    var(--secondary_background_color)
  );
}